<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>


<channel>
<name>FILMES</name>
<thumbnail>https://github.com/anonimo2027/Biblioteca-oficial/blob/main/icon/Filmes.png?raw=true</thumbnail>
<fanart>https://wallpapers.com/images/high/movie-theater-background-1920-x-1080-vatsy4ql6shlquz4.webp</fanart>
<info>Melhores filmes com altas qualidades você encontra aqui no flixbox oficial se não encontrar sua família desejado basta enviar suas sugestões tiverem uma possibilidade de ser adicionado</info>
<externallink>https://raw.githubusercontent.com/primedrivefhd-cyber/drive/refs/heads/main/library/movies/coletaneas/1300926.xml</externallink>
</channel>

  
</channels>
