<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>


<channel>
<name>FILMES</name>
<thumbnail>https://github.com/anonimo2027/Biblioteca-oficial/blob/main/icon/Filmes.png?raw=true</thumbnail>
<fanart>https://wallpapers.com/images/high/movie-theater-background-1920-x-1080-vatsy4ql6shlquz4.webp</fanart>
<info>MELHORES FILMES COM QUALIDADE VOCÊ ENCONTRA AQUI NO FLIXBOX OFICIAL, CASO NÃO ENCONTRE SEUS FILMES FAVORITOS VOCÊ PODE ENVIAR SUAS SUGESTÕES E VEREMOS A POSSIBILIDADE DE SER ADICIONADO.

SE ALGUM FILME SE TIVER TRAVANDO EU NÃO REPRODUZI  NOS AVISE PARA SER CORRIGIDO MAIS RÁPIDO POSSÍVEL.</info>
<externallink>https://raw.githubusercontent.com/primedrivefhd-cyber/drive/refs/heads/main/library/movies/coletaneas/1300926.xml</externallink>
</channel>

  
</channels>
