<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>


<channel>
<name>FILMES</name>
<thumbnail>https://github.com/anonimo2027/Biblioteca-oficial/blob/main/icon/Filmes.png?raw=true</thumbnail>
<fanart>https://wallpapers.com/images/high/movie-theater-background-1920-x-1080-vatsy4ql6shlquz4.webp</fanart>
<info>MELHORES FILMES COM QUALIDADE VOCÊ ENCONTRA AQUI NO FLIXBOX OFICIAL, CASO NÃO ENCONTRE SEUS FILMES FAVORITOS VOCÊ PODE ENVIAR SUAS SUGESTÕES E VEREMOS A POSSIBILIDADE DE SER ADICIONADO.

SE ALGUM FILME ESTIVER COM TRAVAMENTO OU  NÃO CONSEGUIR REPRODUZIR VOCÊ PODE ME AVISAR QUE SERÁ CORRIGIDO MAIS RÁPIDO POSSÍVEL.</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/movies/menu.xml</externallink>
</channel>

<channel>
<name>SÉRIES</name>
<thumbnail>https://github.com/anonimo2027/Biblioteca-oficial/blob/main/icon/series.png?raw=true</thumbnail>
<fanart>https://wallpapers.com/images/high/movie-theater-background-1920-x-1080-vatsy4ql6shlquz4.webp</fanart>
<info>AS SÉRIES SERÁ ADICIONADO DE ACORDO COM SUAS SUGESTÕES POIS AS SÉRIES DÁ MUITO MAIS TRABALHO DO QUE FILMES NÃO POSSO COLOCAR SÉRIES ALEATÓRIO, EM BREVE SERÁ POSSÍVEL.</info>
<externallink>https://raw.githubusercontent.com/b-i-b-l-i-o-t-e-ca/x-m-l/refs/heads/main/tvshows/menu.xml</externallink>
</channel>

  
</channels>
